.register-container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../../assets/RegisterPage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.register-card {
    width: 100%;
    max-width: 500px;
}